{{ template "base" .}}

{{ define "content" }}


            <div class="container-fluid">
                <div class="col-6">
                    <div class="row">
                        <h1>Empresa de transporte especial</h1>
                        <h1>Transtour Roma</h1>
                    </div>
                </div>

                <div class="col-3"></div>
            </div>

            <h1>This is the home page for Transtour Roma</h1>

            <br />
            <hr />
           
            <div class="container text-center">
                <h1> Servicio de transporte de pasajeros empresarial, turístico y ejecutivo. <h1>
                <h4> Brindamos soluciones de transporte de alta calidad enfocado en las necesidades de nuestros cliente. </h4> 
            </div>

            <br />
            <hr />
            <p1> Contenedor con la información de transporte turismo</p1>
            <br />
            <hr />
            <p1> Contenedor con la información de transporte escolar</p1>

            <br />
            <hr />

            <div class="container-fluid cards">

                <div class=" row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Transporte Empresarial</h5>
                              <p class="card-text"> Traslado de personal hasta el lugar de trabajo o actividades de trabajo de campo. Recogidas en aeropuerto, recogida en domicilios. </p>
                              <a href="#" class="btn btn-primary">Cotiza ahora</a>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Transporte de personal y equipo</h5>
                              <p class="card-text"> Servicio de camionetas 4x4 doble cabina para el transporte de pasajeros y equipo a zonas de difícil acceso. </p>
                              <a href="#" class="btn btn-primary">Cotiza ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Transporte de carga</h5>
                              <p class="card-text"> Servicio de transporte de carga en vehículos desde una tonelada 
                             </p>
                              <a href="#" class="btn btn-primary">Cotiza ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Afiliaciones</h5>
                                  <p class="card-text"> Contamos con cupos disponibles para afiliar tu vehículo de servicio público. 
                                 </p>
                                  <a href="#" class="btn btn-primary">Afiliarse</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div>
                <h5>Nuestros clientes</h5>
            </div>
            <div class="logos">
                <div class="logos-slide">
                    <img src="/static/logos/agrosavia.png" />
                    <img src="/static/logos/ambielab.png" />
                    <img src="/static/logos/biodiversa.svg" />
                    <img src="/static/logos/corpovalle.png" />
                    <img src="/static/logos/geo-inglobe.png" />
                    <img src="/static/logos/unicor.png" />
                    <img src="/static/logos/upb.png" />
                </div>
                <div class="logos-slide">
                    <img src="/static/logos/agrosavia.png" />
                    <img src="/static/logos/ambielab.png" />
                    <img src="/static/logos/biodiversa.svg" />
                    <img src="/static/logos/corpovalle.png" />
                    <img src="/static/logos/geo-inglobe.png" />
                    <img src="/static/logos/unicor.png" />
                    <img src="/static/logos/upb.png" />
                </div>
            </div>
{{ end }}
